html {
  font-family: sans-serif;
  /* background-image: url(https://t3.ftcdn.net/jpg/17/97/40/28/240_F_1797402827_0PnC9AwVXVQ3ERzLu5yBUQTaGcCXrBrR.jpg); */
}

#team-wrapper {
  margin-top: calc(50vh - 100px);
  align-items: center;
  justify-content: space-around;
}

#team-wrapper > .team {
  height: 100px;
  padding: 2px;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 2px;
  border: 2px solid black;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
}

#team-wrapper > #pakistan{
  background: green;
  background: linear-gradient(
    90deg,
    rgb(10, 105, 2) 0%,
    rgba(15, 245, 7) 50%,
    rgb(255, 255, 255) 100%
  );
}

#team-wrapper > #south-africa{
  background: red;
  background: linear-gradient(
    90deg,
    red 0%,
    blue 100%
  );
}

#team-wrapper > #england{
  background: red;
  background: linear-gradient(
    90deg,
    red 0%,
    white 50%,
    blue 100%
  );
}

#team-wrapper > #new-zealand{
  background: red;
  background: linear-gradient(
    90deg,
    red 0%,
    yellow 50%,
    blue 100%
  );
}

#team-wrapper > #west-indies{
  background: darkred;
  color: antiquewhite;
}

#team-wrapper > #smit-cheeteh{
  background: blue;
  background: linear-gradient(
    90deg,
    blue 0%,
    green 50%,
    black 100%
  );
  color: antiquewhite;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

#toss-wrapper{
  margin: auto;
  margin-top: calc(50vh - 100px);
  background-color: black;
  width: max-content;
  border-radius: 12px;
}

#toss-wrapper > .coin {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 4px gray dashed;
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  cursor: pointer;
  font-weight: bold;
}

#batting-selection-wrapper{
  margin-top: calc(50vh - 100px);
  margin-left: calc(50vw - 150px);
}

#batting-selection-wrapper > .batting-option {
  height: 100px;
  padding: 6px;
  margin: 6px;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 12px;
  border: 2px solid black;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: Green;
}

label > input:hover{
  cursor: pointer;
}

label[for]{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}