html {
  font-family: sans-serif;
}
#team-wrapper {
  align-items: center;
  justify-content: space-around;
}
#team-wrapper > .team {
  height: 100px;
  padding: 2px;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 2px;
  border: 2px solid yellow;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  background: #2a7b9b;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

#toss-wrapper > .coin {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px rgb(189, 189, 189) dashed;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  cursor: pointer;
}


#batting-selection-wrapper > .batting-option {
  height: 100px;
  padding: 2px;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 2px;
  border: 2px solid yellow;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  background: #2a7b9b;
  cursor: pointer;
}